# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
refactor-jasoncrabtree/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
refactor-jasoncrabtree/coverage

# next.js
# next.js
refactor-jasoncrabtree/.next/
refactor-jasoncrabtree/out/

# production
refactor-jasoncrabtree/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
refactor-jasoncrabtree/.env*.local

# vercel
refactor-jasoncrabtree/.vercel

# typescript
refactor-jasoncrabtree/*.tsbuildinfo
refactor-jasoncrabtree/next-env.d.ts
