* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mobile-modifier: 0.5;
}

.flex {
  display: flex;
  flex-direction: column;
}

.gap-32 {
  gap: calc(32px * var(--mobile-modifier));
}

@media screen and (min-width: 768px) {
  :root {
    --mobile-modifier: 1;
  }

  .flex-row {
    flex-direction: row;
  }
}
